$contentWidth: 75rem;
$contentWidthWide: 120rem;
$contentWidthText: 45rem;
$contentWidthTextSlim: 27rem;
$spacing: 3rem;
// $wrapperSpacing: 3rem;

$resLarge: 1280px;
$resTablet: 900px;
$resPhone: 450px;

@font-face {
  font-family: "Founders Grotesk";
  src: url("../media/FoundersGrotesk-Light.otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

// @font-face {
//   font-family: "Founders Grotesk";
//   src: url("../media/FoundersGrotesk-Regular.otf");
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }

@font-face {
  font-family: "Founders Grotesk";
  src: url("../media/FoundersGrotesk-Bold.otf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT Sectra Fine";
  src: url("../media/GT-Sectra-Fine-Book.woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

// @font-face {
//   font-family: "GT Sectra Fine";
//   src: url("../media/GT-Sectra-Fine-Regular.woff");
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }

@font-face {
  font-family: "GT Sectra Fine";
  src: url("../media/GT-Sectra-Fine-Bold.woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@mixin fontDefault() {
  font-family: "Founders Grotesk", sans-serif;
  font-weight: 300;
}

@mixin fontAccent() {
  font-family: "GT Sectra Fine", serif;
  font-weight: 300;
}