@use "sass:math";

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.clear {
  clear: both;
}

.rsep {
  height: 6rem;
}

.r {
  height: 3rem;
}

.rmin {
  height: 1.5rem;
}

.rmik {
  height: 0.75rem;
}

@media (max-width:$resTablet) {
  .r {
    height: 2rem;
  }

  .rmin {
    height: 1rem;
  }

  .rmik {
    height: 0.5rem;
  }
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.no-overflow {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

.full {
  display: block;
  width: 100%;
  height: auto;
}

.text-justify {
  text-align: justify;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-justify-start {
  justify-content: flex-start;
}

.flex-justify-end {
  justify-content: flex-end;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-space-between {
  justify-content: space-between;
}

.flex-justify-space-evenly {
  justify-content: space-evenly;
}

.flex-align-start {
  align-items: flex-start;
}

.flex-align-end {
  align-items: flex-end;
}

.flex-align-center {
  align-items: center;
}

.flex-align-stretch {
  align-items: stretch;
}

.column {
  padding: 0 $spacing;
}

.column-left {
  padding-left: $spacing;
}

.column-right {
  padding-right: $spacing;
}

.column-half {
  padding: 0 math.div($spacing, 2);
}

.column-left-half {
  padding-left: math.div($spacing, 2);
}

.column-right-half {
  padding-right: math.div($spacing, 2);
}

.column-inner,
.column-inner-growing {
  padding: 0 math.div($spacing, 3);
}

.column-outer,
.column-outer-growing {
  padding: 0 math.div($spacing, 3) * 2;
}

.column-double {
  padding: 0 $spacing * 2;
}

// .column-wrapper {
//   padding: 0 $wrapperSpacing;
// }

.content {
  max-width: $contentWidth;
  margin: 0 auto;

  &--wide {
    max-width: $contentWidthWide;
  }

  // &--slim {
  //   max-width: $contentWidthSlim;
  // }
}

@media (min-width: $resLarge) {
  .column-inner-growing {
    padding: 0 $spacing;
  }

  .column-outer-growing {
    padding: 0;
  }
}

@media (max-width: $resTablet) {
  html {
    font-size: 0.9em;
  }

  .rsep {
    height: 3em;
  }

  .column-wrapper {
    padding: 0;
  }
}

@media (max-width: $resTablet) {
  .column {
    padding: 0 2rem;
  }

  .column-left {
    padding-left: 2rem;
  }

  .column-right {
    padding-right: 2rem;
  }

  .column-half {
    padding: 0 1rem;
  }

  .column-left-half {
    padding-left: 1rem;
  }

  .column-right-half {
    padding-right: 1rem;
  }

  .column-inner,
  .column-inner-growing {
    padding: 0 0.6667rem;
  }

  .column-outer,
  .column-outer-growing {
    padding: 0 1.3333rem;
  }

  .column-double {
    padding: 0 4rem;
  }
}

@media (max-width: $resPhone) {
  .column {
    padding: 0 1rem;
  }

  .column-left {
    padding-left: 1rem;
  }

  .column-right {
    padding-right: 1rem;
  }

  .column-half {
    padding: 0 .5rem;
  }

  .column-left-half {
    padding-left: .5rem;
  }

  .column-right-half {
    padding-right: .5rem;
  }

  .column-inner,
  .column-inner-growing {
    padding: 0 0.3333rem;
  }

  .column-outer,
  .column-outer-growing {
    padding: 0 0.6667rem;
  }

  .column-double {
    padding: 0 2rem;
  }
}

img.lazyload:not([src]) {
  visibility: hidden;
}