// intro
#intro-pink-icons {
  .intro-pink-icon {
    width: 33.3333%;
  }
}

#intro-logo-tall,
#intro-logo-tall-left {
  display: block;
  width: 20em;
  max-width: 80%;
  height: auto;
  margin: 0 auto;
}

#intro-logo-tall-left {
  margin-left: 0;
}

#intro-pink {
  margin-top: max(-8em, -8vw);
  padding-top: min(8em, 8vw);

  .title {
    margin-top: -.8em;
  }

  @media (max-width: $resPhone) {
    margin-top: max(-24em, -24vw);
    padding-top: min(24em, 24vw);

    .title {
      margin-top: -1.7em;
      line-height: 1.1;

      u {
        text-decoration: none;
      }

      >* {
        display: block;
      }

      .sans-serif {
        line-height: .8;
      }
    }
  }
}

#intro-2-image {
  display: block;
  width: 100%;

  @media (max-width: $resTablet) {
    max-width: 40em;
    margin: 0 auto;
  }
}

#intro-2-icons {
  width: 22em;
  flex-shrink: 0;

  .intro-2-icon {
    margin-bottom: 3em;

    &:last-child {
      margin-bottom: 0;
    }

    .icon-img {
      width: 7em;
      max-width: 90%;
      height: auto;
      display: block;
      margin: 0 auto;
    }

    .icon-label {
      font-size: 1.25em;
    }
  }

  @media (max-width: $resTablet) {
    width: 100%;
    max-width: 40em;
    margin: 2em auto;

    .intro-2-icon {
      display: flex;
      align-items: center;
      flex-shrink: 0;
    }

    .icon-label {
      text-align: left;
      width: 100%;
      padding-left: 1em;
    }
  }

  @media (max-width: $resPhone) {
    .intro-2-icon .icon-img {
      width: 6em;
    }
  }
}


// krzyszkowska
@media (max-width: $resPhone) {
  #krzyszkowska-gray {
    padding-top: 0;
  }
}

#logo-krzyszkowska {
  display: block;
  width: 30em;
  max-width: 80%;
  height: auto;
  margin: 0 auto;

  @media (max-width: $resPhone) {
    display: none;
  }
}

#krzyszkowska-image {
  display: block;
  width: 30em;
  max-width: 80%;
  height: auto;
  margin: 0 auto;

  @media (max-width: $resPhone) {
    display: none;
  }
}

#krzyszkowska-image-mobile-container {
  position: relative;

  #krzyszkowska-image-mobile {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  #logo-krzyszkowska-mobile {
    position: absolute;
    left: 2em;
    bottom: 2em;
    width: 67%;
  }
}

#krzyszkowska-beige {
  position: relative;
  z-index: 0;

  #krzyszkowska-beige-image {
    position: relative;
    display: block;
    margin-top: max(-20em, -20vw);
    margin-bottom: max(-11em, -11vw);
    z-index: -1;
  }

  @media (max-width: $resPhone) {
    background-color: transparent;

    #krzyszkowska-beige-image {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

#krzyszkowska-message {
  margin-top: -10em;

  @media (max-width: $resPhone) {
    margin: 0;
  }
}


// produkty
.product {
  margin: min(10em, 10vw) 0;

  &__image-col {
    position: relative;
    width: 50%;

    .product__colors {
      position: absolute;
      display: flex;
      top: 1em;
      right: 1em;

      .product__color {
        width: 3em;
        height: 3em;
        border-radius: 50%;
        margin: .5em;
      }
    }
  }

  &__content-col {
    width: 50%;
  }

  .product-message {
    margin: 1em auto;
    color: #fff;
  }
}


// supermoce
#super-icons {
  .super-icon {
    width: 25%;
    margin-bottom: 3em;

    &__icon {
      border-radius: 10px;
      margin-bottom: 1em;
    }

    .icon-label {
      text-transform: uppercase;
      letter-spacing: .1em;
      word-spacing: .2em;
      font-size: 1.25em;
      font-weight: 500;
    }

    .icon-description {
      font-size: 1.25em;
    }
  }
}


// mobile
@media (max-width: $resTablet) {
  #super-icons {
    .super-icon {
      width: 50%;
    }
  }

  .product {
    margin: 2em 0 6em 0;

    .product__flex {
      display: block;

      .product__image-col {
        width: 100%;
      }

      .product__content-col {
        width: 100%;
      }
    }
  }

}

@media (max-width: $resPhone) {

  .text-center,
  .title,
  .subtitle {
    text-align: left;
  }

  #super-icons {
    .super-icon {
      width: 100%;
    }
  }
}