// intro
#intro-pink-icons {
  .intro-pink-icon {
    width: 33.3333%;
  }
}

#intro-logo-tall {
  display: block;
  width: 20em;
  max-width: 80%;
  height: auto;
  margin: 0 auto;
}

#intro-pink-title {
  position: relative;
  margin-bottom: -.6em;
}

#intro-pink-icons {
  .icon-img {
    width: 10em;
    max-width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .icon-label {
    font-size: 1.25em;
  }
}


// krzyszkowska
#logo-krzyszkowska {
  display: block;
  width: 30em;
  max-width: 80%;
  height: auto;
  margin: 0 auto;
}

#krzyszkowska-image {
  display: block;
  width: 30em;
  max-width: 80%;
  height: auto;
  margin: 0 auto;
}

#krzyszkowska-beige {
  position: relative;
  z-index: 0;

  #krzyszkowska-beige-image {
    position: relative;
    display: block;
    margin-top: max(-20em, -20vw);
    margin-bottom: max(-11em, -11vw);
    z-index: -1;
  }
}

#intro-message {
  margin-top: -10em;
}


// produkty
.product {
  margin: 10em 0;

  &__image-col {
    position: relative;
    width: 50%;

    .product__colors {
      position: absolute;
      display: flex;
      top: 1em;
      right: 1em;

      .product__color {
        width: 3em;
        height: 3em;
        border-radius: 50%;
        margin: .5em;
      }
    }
  }

  &__content-col {
    width: 50%;
  }

  .product-message {
    margin: 1em auto;
    color: #fff;
  }
}


// supermoce
#super-icons {
  .super-icon {
    width: 25%;

    &__icon {
      border-radius: 10px;
      margin-bottom: 1em;
    }

    .icon-label {
      text-transform: uppercase;
      letter-spacing: .1em;
      word-spacing: .2em;
      font-size: 1.25em;
      font-weight: 500;
    }

    .icon-description {
      font-size: 1.25em;
    }
  }
}