.img-full {
  width: 100%;
  height: auto;
}

.bg-gray {
  background-color: #FAF6F6;
  padding: 4em 0;
}

.bg-pink {
  background-color: #F6817E;
  color: #fff;
  padding: 4em 0;
}

.bg-beige {
  background-color: #cbb1a8;
  padding: 4em 0;
}

.nop {
  overflow: hidden
}

.title {
  @include fontAccent();
  font-size: max(1.5rem, min(4vw, 4em));
  text-align: center;
  line-height: 1.2;
  margin-bottom: -.2em;

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

  .sans-serif {
    @include fontDefault();
  }
}

.subtitle {
  font-size: max(1.25rem, min(2vw, 2em));
  text-align: center;
}

.text {
  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

  &--width {
    max-width: $contentWidthText;
    margin-left: auto;
    margin-right: auto;
  }

  &--width-slim {
    max-width: $contentWidthTextSlim;
    margin-left: auto;
    margin-right: auto;
  }

  &--large {
    font-size: 1.25em;
  }
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: .1em;
  word-spacing: .2em;
  font-size: 1.25em;
}

.button {
  border: 1px solid #000;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: .2em;
  word-spacing: .2em;
  font-size: 1.25em;
  text-align: center;
  padding: .7em 1.3em .4em 1.5em;
  transition: .3s;

  &:hover {
    background-color: #B08978;
    color: #fff;
    border-color: #fff;
  }
}

.message {
  position: relative;
  width: 31em;
  max-width: 90%;
  padding: .5em 2em 1.5em 2em;
  margin: -2em;
  margin-left: auto;
  border-radius: 10px;
  opacity: 0;
  left: 50vw;
  transition: .3s;

  &.shown {
    left: 0;
    opacity: 1;
  }

  &--pink {
    background-color: #F6817E;
    color: #fff;
  }

  // &--brown {
  //   background-color: #B08978;
  //   color: #fff;
  // }

  &__text {
    font-style: italic;
    font-size: 1.25em;
  }

  &__author {
    display: block;
    width: 8em;
    height: auto;
    margin-left: auto;
    margin-top: .5em;
  }
}